.modal-content {
  background-color: #fff;

  .modal-header {
    height: 20%;
    position: relative;
    padding-right: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .modal-header-close-button {
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 15px;
      padding: 0px 6px;
      cursor: pointer;
    }
  }

  .modal-body {
    height: 80%;
    overflow-y: auto;

    .modal-button-container {
      text-align: center;

      button {
        min-width: 72px;
      }
    }
  }
}
