@import 'variables';

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/scss/font-awesome';

/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
@import "./app/app.theme.scss";


mat-form-field {
  width: 100%;
}

mat-cell.overflow-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

mat-cell.always-visible, mat-header-cell.always-visible {
  white-space: nowrap;
  min-width: 120px;
  margin-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.element-row {
  position: relative;
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}


.open-icon, .close-icon {
  margin-right: 12px;
  opacity: .7;
}

.close-icon {
  display: none;
}

.element-row.expanded {
  border-bottom-color: transparent;
  .mat-cell {
    color: #ddd;
  }

  .close-icon{
    display: inline-block;
  }

  .open-icon{
    display: none;
  }
}
.expanded-row > * {
  width: 100%;
  padding: 16px 4px;
}


/* Custom Modal Styls */
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop{
  background: #000;
  opacity: 0.85 !important;
}
