<h1>Home</h1>

<!--<app-person-edit-form [(person)]="selectedItem"></app-person-edit-form>-->

<!-- Working Expandable rows -->
<!-- https://stackblitz.com/edit/angular-material2-issue-qatslc -->

<div>
My Date: {{ myDate }}
</div>

<app-date-picker [(ngModel)]="myDate"
                 [minDate]="minDate"
                 [maxDate]="maxDate"
                 [disabledDates]="disabledDates"
                 [preferredDates]="preferredDates"
                 [showTodayButton]="true"
                 [mode]="datePickerMode">
</app-date-picker>

<!--
<button mat-raised-button color="accent" (click)="addItem()">Add</button>
-->

<mat-table #table [dataSource]="sortedItems" matSort (matSortChange)="sortData($event)">

  <ng-container matColumnDef="fullName">
    <mat-header-cell *matHeaderCellDef mat-sort-header="Name" class="always-visible">Name</mat-header-cell>
    <mat-cell *matCellDef="let item" class="always-visible">
      <span class="open-icon"><i class="fa fa-chevron-down"></i> </span>
      <span class="close-icon"><i class="fa fa-chevron-up"></i> </span>
     {{item.FirstName}} {{ item.LastName }}
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef mat-sort-header="Address">Address</mat-header-cell>
    <mat-cell *matCellDef="let item" class="overflow-ellipsis">
      {{item.Address1}}{{ item.Address2 ? ' ' + item.Address2: '' }}, {{item.City}} {{item.State}} {{item.ZipCode}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <mat-header-cell *matHeaderCellDef mat-sort-header="PhoneNumber">Phone</mat-header-cell>
    <mat-cell *matCellDef="let item" class="overflow-ellipsis">
      {{item.PhoneNumber}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="emailAddress">
    <mat-header-cell *matHeaderCellDef mat-sort-header="EmailAddress">Email</mat-header-cell>
    <mat-cell *matCellDef="let item" class="overflow-ellipsis">
      {{item.EmailAddress}}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
           matRipple
           class="element-row"
           [cdkDetailRow]="row"
           [cdkDetailRowTpl]="expandedTemplate"
           [cdkSortEvent]="sortEvent"
           tabindex="0"></mat-row>
</mat-table>

<!-- Detail Template -->
<ng-template #expandedTemplate let-item>
  <div class="mat-row expanded-row" [@detailExpand] style="overflow: hidden;">
    <app-person-edit-form [person]="item"></app-person-edit-form>
  </div>
</ng-template>
