<div class="date-picker-container">
  <div class="date-picker-input">
    <input type="text"
           tabindex="0"
           [disabled]="disabled"
           [textMask]="{ mask: dateMask.mask }"
           [placeholder]="dateMask.display"
           [(ngModel)]="selectedDateFormattedWithMask" />
    <button class="open-calendar-button" tabindex="0" (click)="showCalendar = !showCalendar" [disabled]="disabled">
      <i class="fa fa-calendar-o"></i>
    </button>
  </div>

  <div class="date-picker-clickout" *ngIf="showCalendar && !disabled" (click)="showCalendar = false"></div>
  <div class="date-picker-calendar" *ngIf="showCalendar && !disabled">
    <table>
      <thead>
      <tr>
        <!-- set the colspan to a huge number to make it span all of the visible columns in the table -->
        <td colspan="1000" class="calendar-title-container">
          <button class="calendar-title-button calendar-title-button-left"
                  (click)="changeCalendar(false)"
                  [hidden]="calendarState == CalendarStates.ShowMonths">
            <i class="fa fa-chevron-left"></i>
          </button>
          <div class="calendar-title" (click)="changeCalendarState(true)">
            {{ prettyMonth }}
          </div>
          <button class="calendar-title-button calendar-title-button-right"
                  (click)="changeCalendar(true)"
                  [hidden]="calendarState == CalendarStates.ShowMonths">
            <i class="fa fa-chevron-right"></i>
          </button>
        </td>
      </tr>
      </thead>
      <tbody>
      <tr class="weekday-row" [hidden]="calendarState != CalendarStates.ShowDates">
        <td>Sun</td>
        <td>Mon</td>
        <td>Tue</td>
        <td>Wed</td>
        <td>Thu</td>
        <td>Fri</td>
        <td>Sat</td>
      </tr>
      <tr *ngFor="let week of calendarDatesAsWeeks" [hidden]="calendarState != CalendarStates.ShowDates">
        <td class="calendar-date-cell"
            [ngClass]="{ 'disabled': dateDisabled(date),
                         'is-today': isToday(date),
                         'selected-date': isSelectedDate(date),
                         'outside-selected-month': date.month != currentMonth,
                         'preferred-start': datePreferredStart(date),
                         'preferred-end': datePreferredEnd(date),
                         'preferred-middle': datePreferredMiddle(date) }"
            *ngFor="let date of week"
            (click)="selectDate(date)">
          {{ date.day }}
        </td>
      </tr>

      <tr *ngFor="let months of calendarMonths" [hidden]="calendarState != CalendarStates.ShowMonths">
        <td class="calendar-month-cell"
            *ngFor="let month of months; let monthRowIndex = index;"
            (click)="selectMonth(month)">
          <div class="container-selector"
               [ngClass]="{ 'is-today': isThisMonth(month),
                         'selected-date': isSelectedDateMonth(month) }">
            {{ month.monthName }}
          </div>
        </td>
        <td></td>
      </tr>
      <tr *ngFor="let years of getYearsToShowOnTheCalendarAsGroups" [hidden]="calendarState != CalendarStates.ShowYears">
        <td class="calendar-year-cell"
            *ngFor="let year of years"
            (click)="selectYear(year)">
          <div class="container-selector"
               [ngClass]="{ 'is-today': isThisYear(year),
                         'selected-date': isSelectedDateYear(year) }">
            {{ year.year }}
          </div>
        </td>
        <td></td>
      </tr>
      </tbody>
    </table>

    <div class="button-container">
      <button class="today-button" (click)="selectToday()" *ngIf="showTodayButton">Today</button>
    </div>

    <!--
    <h4>Date Picker</h4>

    <div>
      SelectedDate: {{ selectedDate }}
    </div>
    <div>
      PrettyDate: {{ prettyDate }}
    </div>
    <div>
      Date formatted via mask for input: {{ selectedDateFormattedWithMask }}
    </div>
    <div>
      {{ currentMonth }}, {{ currentYear }}
    </div>
    -->
  </div>


</div>
