$link-color: rgb(0, 123, 255);

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
}
input[type="date"]::-webkit-input-placeholder{
  visibility: hidden !important;
}

.date-picker-container {
  position: relative;
  display: inline-block;

  .date-picker-input {
    .open-calendar-button {
      margin-left: -5px;
      padding: 2px 12px;
      color: #555;
      background-color: #fff;
      border: 1px solid #ddd;
      cursor: pointer;
      border-radius: 3px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      margin-top: 1px;
    }

    input {
      border-radius: 3px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border: 1px solid #ddd;
      border-right: 0px;
      padding: 2px 6px;
      height: 30px;
    }
  }

  .date-picker-clickout {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
  }

  .date-picker-calendar {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 1px 1px 1px #eee;

    &.with-input {
      position: absolute;
      z-index: 1001;
      top: 32px;
    }

    table {
      width: 100%;

      tbody {


        .weekday-row td {
          border-bottom: 1px solid #eee;
          color: #999;
          text-align: center;
          font-size: 90%;
          padding-bottom: 4px;
          cursor: default;
        }

        .calendar-date-cell {
          text-align: center;
          padding: 4px;
          border-radius: 2px;
          cursor: pointer;
          color: #333;
          padding: 4px 8px;

          &.is-today {
            font-weight: bold;
          }

          &.selected-date{
            background-color: #1e88e5 !important;
            color: #fff;
            border-radius: 60px;
          }

          &.outside-selected-month {
            color: #999;
          }

          &.preferred-start, &.preferred-middle, &.preferred-end {
            background-color: #d9ffd9;
          }

          &.preferred-middle {
            border-radius: 0px;
          }

          &.preferred-start {
            border-bottom-left-radius: 60px;
            border-top-left-radius: 60px;
          }


          &.preferred-end {
            border-bottom-right-radius: 60px;
            border-top-right-radius: 60px;
          }

          &:hover, &:focus {
            background-color: #eee;
          }

          &.disabled {
            position: relative;
            background-color: #ffc0c0;
            cursor: not-allowed;
            border-radius: 60px;
            color: #999;
          }
        }

        .calendar-month-cell, .calendar-year-cell  {
          text-align: center;
          border: none;

          .container-selector {
            color: $link-color;
            border-radius: 60px;
            padding: 8px;
            cursor: pointer;
            min-width: 86px;
            font-size: 90%;

            &.is-today {
              border: 1px solid #ddd;
            }

            &.selected-date{
              background-color: #1e88e5 !important;
              color: #fff;
            }

            &:hover, &:focus {
              background-color: #eee;
            }
          }
        }
      }
    }

    .calendar-title-container{
      text-align: center;
      padding: 4px 0px 8px;

      .calendar-title {
        cursor: pointer;
        font-weight: bold;
        color: $link-color;
        display: inline-block;
      }

      .calendar-title-button {
        border: none;
        background-color: #fff;
        padding: 0px 8px;
        color: $link-color;
        cursor: pointer;

        &.calendar-title-button-left {
          float: left
        }
        &.calendar-title-button-right {
          float: right
        }
      }
    }

  }

  .button-container {
    text-align: center;
    margin: 8px 0px 4px;

    .today-button {
      padding: 2px 12px;
      color: $link-color;
      background-color: #fff;
      border: 1px solid #ddd;
      cursor: pointer;
      border-radius: 3px;
    }
  }
}

